// common colors
$--blue: #1390e5;

// theme settings
$--primary: $--blue;

// fonts
$--font-family: Avenir, Helvetica, Arial, sans-serif;
$--font-weight-bold: 700;
$--font-weight-medium: 500;
$--font-weight-normal: 400;
$--font-weight-thin: 200;
$--font-size-small: 12px;
$--font-size-base: 16px;
$--font-size-title: 32px;
$--font-size-subtitle: 24px;
